/* font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/* common styles  */
body {
  font-family: "Poppins", sans-serif;
}
.td {
  text-decoration: none;
}

.big-div {
  width: 1440px;
  height: 677px;
  background-color: #2d25a0;
  margin-top: 0;
}
.position {
  width: 485px;
  height: 230px;
  position: absolute;
  font-size: 64px;
  line-height: 80px;
  margin-top: 207px;
  margin-left: 156px;
  margin-bottom: 0px;
}
.button {
  position: absolute;
  width: 168px;
  height: 44px;
  left: 156px;
  top: 464px;

  background-color: #e02c6d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px 24px;
}
.banner {
  padding-left: 743px;
  padding-top: 153px;
  padding-right: 141px;
  padding-bottom: 86px;
}
.banner img:hover {
  transform: scale(0.75) rotate(360deg);
  transition: transform 2s ease-in;
}
/* main part style  */
.first-div {
  display: flex;
}
.first-div div {
  width: 330px;
  height: 474px;
}
