/* font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/* common styles  */
body {
  font-family: "Poppins", sans-serif;
}
.td {
  text-decoration: none;
}
.grid-cell {
  width: 300px;
  height: 426px;
  border: 2px solid rgb(216, 81, 81);
}

.big-div {
  display: flex;
  column-gap: 200px;
  background-color: #2d25a0;
}
.centre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pad {
  padding-left: 135px;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 20px;
}
.button {
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* main part style  */
.player-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* width: 1405px; */
  row-gap: 40px;
  column-gap: 10px;
  margin-top: 70px;
  border: 3px solid green;
}
