/* font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/* common styles  */
body {
  font-family: "Poppins", sans-serif;
}
.td {
  text-decoration: none;
}
.grid-cell {
  width: 300px;
  height: 426px;
  border: 2px solid rgb(216, 81, 81);
}

.big-div {
  display: flex;
  column-gap: 200px;
  background-color: #2d25a0;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pad {
  padding-left: 156px;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px;
  width: 120px;
  height: 20px;
  left: 156px;
  top: 464px;
  background-color: #e02c6d;

  justify-content: center;
  align-items: center;
}
/* main part style  */
.player-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  row-gap: 36px;
  column-gap: 30px;

  margin-top: 70px;
  margin-left: 180px;
  margin-right: 210px;
  margin-bottom: 27px;
}
